<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterPage - Header</title>
    <link rel="stylesheet" type="text/css"  href="css/styles.css">
    <meta name="format-detection" content="telephone=no">

</head>
<body>

<div style="height:100px; width:100%">
 <header>
    <h1>Hello Friends!</h1>

 </header>
    
  </div>

